@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #23424A;
  padding: 7rem 5rem;
}

.main{
  width: 50%;
}

.head{
  font-size: 3rem;
  color: hsl(360, 100%, 100%);
}

.text{
  padding: 2rem 0;
  font-size: 21px;
  color: hsl(221, 20%, 68%);
  font-weight:normal;
}
.button{
  margin-top: 2rem;
  display: inline-block;
  background-color: #38CFD9;
  font-size: 21px;
  padding: 1rem 2.5rem;
  border-radius: 2.5rem;
}

.button a{
  color: inherit;
  text-decoration: none;
}
