*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}

html,body{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}

.container > *{
  width: 100%;
}

.col + .col{
    margin-left: 2rem;
}

.main{
  text-align: center;
  background: #F3EED9;
  color: #824936;
  padding: 20% 20%;
}

.main__heading{
}

.quality{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.quality__heading{
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: #824936
}

.custom,
.care{
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
}

.custom{
  background-color: #222C2A;
}

.care{
  background-color: #824936;
}

@media (min-width:660px) {

}
